
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


*{
    font-size: 105%;
    letter-spacing: 2px;
    font-family: "Lora", cursive;
}

html{
    scroll-behavior: smooth;
}

// Cores
$rosa-claro: #F28CB1; //- Transmite delicadeza, feminilidade e romantismo.
$cinza-suave: #D3D3D3; //- Cria um ambiente elegante e atemporal.
$branco: #ffffffef; // - Proporciona luminosidade e pureza.
$dourado-claro: #556B2F; //#DAA520; // - Adiciona um toque de luxo e sofisticação.
$verde-oliva: #556B2F;

$preto: #222222;


nav{
    @media screen and (min-width:769px){height: 100px;}
    background-color: white;
    border-bottom: 2px solid $preto;
    z-index: 1;
}

.side_menu{
    position: fixed;
    width: 100%;
    z-index: 0;
    top: 0px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    height: 50px;
    align-items: center;

    .side_menu--item a{
        padding: 3px 20px;
        font-weight: bold;
        text-decoration: none;
    }
    @media screen and (max-width:768px){padding: 0px;}
    .side_menu--item a{
        text-decoration: none;
        color: $preto;


    }
}


.link_actived{
    padding: 3px 20px;
    color: $branco !important;
    background-color: #556B2F;
    /* background-image: linear-gradient(45deg, #556B2F, transparent); */
    font-weight: bold;
}


@mixin title(){
    color: $preto;
    font-size: 2.3rem;
    letter-spacing: 5px;
}

@mixin paragraph(){
    color: $preto;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-indent: 10px;
}


@mixin destaque($deg)
{
    margin-bottom: 20px;
    padding: 5px 5px 5px 10px;
    /* background-image: linear-gradient(45deg, #DAA520, transparent); */
    background-color: $dourado-claro;
    transform: rotate($deg);
    color: $branco;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.26);
}

@mixin btn(){
    background-color: $dourado-claro;
    border-color: $dourado-claro;
    color: $branco;
    font-weight: bold;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.377);
    transition: 1s ease all;
    border-width: 2px;
    border-color: transparent;

    &:hover{
        border: 2px solid $preto;
    }
}

@mixin background(){
    background-color: $branco;
}