@import '_variables';

body{
    // background-color: rgba(0, 0, 0, 0.808);
    background-color: $preto
}

.paragrafo{
    @include paragraph();
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.212);
}

section {
    padding-top: 100px !important;
    @include background();
}

#sobreNos{
    padding-top: 0px;
}

.curso_destaque{
    // background-color: red;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: $branco;
    padding-bottom: 30px;
    // border: 3px solid $preto;

    .btn{
        @include btn();
    }

    @media screen and (max-width:768px)
    {
        flex-direction: column;
        padding: 0px;
        padding-bottom: 50px;
        border-left: none;
        border-right: none;
    }
    .thumbail{
        // background-color: blue;
        display: flex;
        justify-content: center;
        width: 30%;
        @media screen and (max-width:768px){width: 100%;}
        align-items: center;
    
    }

    .content{
        // background-color: yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 60%;
        padding: 0px 12px;
        @media screen and (max-width:768px){width: 100%; h1{text-align: center}}

        h1{
            @include title();
            @media screen and (min-width: 769px)
            {    
                @include destaque(2deg)
        }
    }
}}


.sobre_nos
{

    // background-color: whitesmoke;
    // border: 1px solid $preto;
    padding: 30px 0px;
    margin: 100px 0px;

    h2{
        @include destaque(0deg);
    }
}

.cursos
{
    // border: 2px solid $preto;
    min-height: 500px;
    h2{
        @include destaque(0deg);
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .Card{
            background-color: $preto;
            width: 375px;
            height: 197px;
            margin: 50px 0px;
            border-radius: 35px;
            padding: 21px 20px;
            color: white;
            border: 2px solid rgba(143, 143, 143, 0.342);
            overflow: hidden;

            transform: all 0.5s ease;

            .btn
            {
                position: relative;
                top: 0px;
                z-index: 3;

                @include btn();

            }
            h3{
                z-index: 3;
                position: relative;
                transition: 1s ease all;
                font-weight: bold;
                color: $dourado-claro;
            }
            .ball
            {
                width: 80px;
                height: 80px;
                background-color: $branco;
                border-radius: 50%;
                position: relative;
                top: -103px;
                left: 299px;
                z-index: 2;
                transition: all 0.5s ease;
            
            }

            &:hover{
                h3{
                    color: $preto;
                }
                .ball{
                    width: 1000px;
                    top: -200px;
                    left: -50px;
                    height: 1000px;
                    border-radius: 0px;
                }
            }
        }
    }
}


#contato{
    .contato__card{
        background-color: $branco;
        width: 60%;
        min-height: 400px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 60px;
        @media screen and (max-width:768px){padding: 10px 20px; width: 100%;}

        .contato__card__header{
            // background-color: red;
            width: 80%;
            @media screen and (max-width:768px){width: 100%;}
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0px;
            // width: 100%;
            img{
                max-width: 300px;
                margin: auto;

            }
        }
    }

    .contato__card__body{
        // background-color: blue;
        width: 80%;
        @media screen and (max-width:768px){width: 100%;}
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contato__card__bottom{
        // background-color: pink;
        width: 80%;
        @media screen and (max-width:768px){width: 100%;}
        display: flex;
        justify-content: center;
        align-items: center;

        ul{
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            font-size: 2rem;
            // color: black;
            li{
                color: $preto;
            }
        }
    }
}

footer{
    position: relative;
    // border-top: 2px solid $preto;
    margin-top: 300px;
    bottom: 0px;
    background-color: $branco;
    font-size: 0.9rem;
}

.img_content
{
    width: 30%;
    @media screen and (max-width:768px){width: 90%;}
}

